body {
    padding-top: 20px;
    background: #f5f7f8;
  }
  
  .grid-2 {
    display: grid;
    width: 100%;
    max-width: auto;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto; 
    grid-gap: 20px;
  }
  
  /* items */
  
  .grid-2 div {
    color: white;
    font-size: 20px;
    padding: 20px;
    }
  
  /* specific item styles */
  
  .item-1 {
    background: #b03532;
  }
  .item-2 {
    background: #33a8a5;
  }
  .item-3 {
    background: #30997a;
  }
  .item-4 {
    background: #6a478f;
  }
  .item-5 {
    background: #3b3b3b;
  }
  .item-6 {
    background: #3b3b3b;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px 300px 300px 300px; 
    grid-gap: 40px;


  }
  .item-7 {
    background: #3b3b3b;
  }
  