body {
    padding-top: 20px;
    background: #1b1b1b;
  }
  
  .grid-1 {
    display: grid;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    
    grid-template-columns: 300px 1020px;
    grid-template-rows: auto auto;
    grid-gap: 20px;

  }
  
  /* items */
  
  .grid-1 div {
    color: white;
    font-size: 20px;
    padding: 20px;
    }
  
  /* specific item styles */
  
  .item-1 {
    background: rgb(43, 43, 43);

  }
  .item-2 {
    background: rgb(43, 43, 43);
  }
  